<div class="trps-hd-ic"><img src="{{ 'white_cart_icon.png' | asset_img_url: 'master'}}" alt="#"></div>
<div class="trps-hd-colr"><img src="{{ 'blue_cart_icon.png' | asset_img_url: 'master'}}" alt="#"></div>