{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
<section class="blog-banner">
  <div class="caption">
    <h2>MIS NIKS VAN FAIRYTABS.</h2>
    <p class="subtitle">Lees hier onze blog, nieuws en meer!</p>
  </div>
</section>
{% section 'blog-template' %}
