<div class="">
 
 
      <div class="section-header fullw-heder">
        <div class="page-width">
        <h1>{{ page.title }}</h1>
      </div>
  </div>

      <div class="full-contaner">
        {{ page.content }}
      </div>
    </div>
 
